.item {
    width: 300px;
    height: 100px;
    background-color: aquamarine;

}

.box {
    width: 300px;
}

.container {

    display: flex;
    gap: 20px;
    background-color: aliceblue;
    justify-content: center;
    color: wheat;
}

@media screen and (max-width:412px) {
    .container {
        flex-direction: column;
        background-color: bisque;
        align-items: center;

    }
    .item2 {
        background-color: blue;
    }
}
